@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Satoshi", sans-serif;
  font-weight: 16px;
  color: white;
}
.heading {
  line-height: 1;
  letter-spacing: -0.4px;
  @apply px-4 md:text-6xl text-5xl font-bold;
}

h1 {
  @apply md:text-6xl text-5xl font-bold;
}

h2 {
  @apply md:text-xl text-xl text-base-content font-medium;
}

.btn-outline {
  @apply border-white text-primary hover:bg-primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
