@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Satoshi", sans-serif;
  font-size: 16px; /* Changed font-size to 16px */
  color: white;
}

.heading {
  line-height: 1;
  letter-spacing: -0.4px;
  @apply px-4 md:text-6xl text-[2.75rem] font-bold;
}

h1 {
  @apply md:text-6xl text-5xl font-bold;
}

h2 {
  @apply md:text-xl text-xl text-base-content font-medium;
}

.btn-outline {
  @apply border-white text-primary hover:bg-primary;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

/* Pagination */
.pagination ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 1rem;
}

.pagination ul li {
  margin: 0 5px;
}

.pagination ul li a {
  display: inline-block;
  padding: 5px 10px;
  width: max-content;
  @media (max-width: 767px) {
    width: auto;
  }
  text-decoration: none;
  color: white;
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 5px;
}

.pagination ul li a:hover {
  background-color: white;
  color: black;
}

.pagination ul li.selected a {
  background-color: white;
  color: black;
}

.pagination ul li.disabled a {
  color: gray;
  pointer-events: none;
}

/* Custom Scrollbar */
/* For Webkit browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #111;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #fff #111;
}
